<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <button onclick="vm.openForm()">Open Form</button>
    <h1>{{ 'nilai a : ' + a }}</h1>
    <h1>{{ 'nilai rata-rata : ' + ratarata }}</h1>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        a : 0,
        ratarata : '0'
      },
      computed : {},
      methods : {
          openForm : function(){
            let angka = 0
            let total = 0
            while (total < 10) {
              this.a = prompt('Masukkan Nilai a')
              const convert = parseInt(this.a)
              if (!Number.isInteger(convert)) {
                  alert("masukkan angka")
                  break;
              }
              total += convert
              angka += 1
            }
            this.a = total
            this.ratarata = (this.a / angka)

          }
      }
  })
  </script>
</body>
</html>