<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Daftar Buku - PKS DIGITAL SCHOOL</title>
  </head>
  <body>

    <div id="app">
        <input type="text" v-model="search" placeholder="ketikkan kata kunci..." style="width: 15%;">
        <ul v-for="book in filterBuku">
            <li>{{book.name}}</li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                search: '',
                books : [
                    {name: 'Kalkulus Dasar'},
                    {name: 'Fisika Dasar'},
                    {name: 'Aljabar Linier Elementer'},
                    {name: 'Aljabar Abstrak'},
                    {name: 'Algoritma Pemrograman'}
                ]
            },
            computed: {
                filterBuku : function() {
                    return this.books.filter((book) => {
                        return book.name.toLowerCase().match(this.search.toLowerCase());
                    });
                }
            }
        });
    </script>
  </body>
</html>
