
<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <div v-if="!isEditing">
      <input type="text" v-model="todo" />
      <input type="submit" value="Add" @click="storeTodo" />
    </div>
    <div v-else>
      <input type="text" v-model="todo" />
      <input type="submit" value="Update" @click="updateTodo" />
    </div>

    <ol>
      <li v-for="(todo, index) in todos">
        {{ todo.name }}
        <button @click="editTodo(index, todo)">Edit</button>
        <button @click="removeTodo(index)">Delete</button>
      </li>
    </ol>
  </div>

  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        isEditing: false,
          todo: "",
          selectedTodo: null,
          todos: [
          {
            'name' : 'Albert',
          },
          {
            'name' : 'Aldi',
          },
          {
            'name' : 'Aldo',
          }
          ],
      },
      methods : {
        removeTodo: function(index){
          if(confirm('anda yakin?')){
            this.todos.splice(index, 1);
          }
        },
  
        storeTodo() {
          if(this.todo){
            this.todos.push({'name': this.todo});
            this.todo = "";
          }
          else{
            alert("Nama harus diisi");
          }
        },

        editTodo(index, todo) {
            this.isEditing = true;
            this.todo = todo.name;
            this.selectedIndex = index;
          },
        
        updateTodo() {
          this.todos.splice(this.selectedIndex, 1, this.todo);
            this.todo = "";
            this.isEditing = false;
            console.log(this.todo)
          },
          
      }
  })
  </script>
</body>
</html>